<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <img class="mat-card-avatar" src="/assets/profile.png" />
      <mat-card-title><b>YouthFulLoveChild1577</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Come, night, come, darling, come, thou day in night, For thou wilt lie
        upon the wings of night Whiter than new snow on a raven's back. Come,
        gentle night, come, loving, black-browed night, Give me my love, and,
        when he shall die, Take him and cut him out in little stars.
      </p>
    </mat-card-content>
  </mat-card>
  <app-match-candidate></app-match-candidate>
</div>
